
body {
  background: #bbcce8 
}

h1 {
  color: #52a9aa;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

h3 {
  color: #894375;
  font-weight: bold;
  text-align: left;
}

body {
  background: #bbcce8 
}

p {
  text-align: center;
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

p {
  font-family: sans-serif;
}
